{% extends 'restaurant/base_auth.html' %}
{% load bootstrap4 %}

{% block title %}
Sign Up
{%endblock%}

{% block heading %}
Restaurant - Sign Up
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form restaurant_form%}
    <button class="btn btn-black btn-black" type="submit">sign up</button>
    <div class="text-center mt-3">
        <a href="{% url 'restaurant_sign_in' %}">Login instead</a>
    </div>
</form>

{% endblock %}
